#button_start
{
    background-color: aquamarine;
}

.copy_right_footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.body
{
    background-color: gold;
    font-size: medium;
    font-family: cursive;
    font-style: italic;
}